.c-average{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    &__div{
        width: 400px;
        border: 2px solid black;
        border-radius: 10px;
        background-color: whitesmoke;
    }
}